body{
    background-color: rgb(204, 211, 114);
}

#titulo{
    color: rgb(13, 10, 221);
    font-family: 'Courier New', Courier, monospace;
} 

#text{
    color: rgb(18, 172, 219);
    font-family: 'Courier New', Courier, monospace;
}

#encabezado{
    background-color: rgb(83, 160, 11);
    min-height: 200px;
    height: auto;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(223, 12, 12, 0.5);
}

.encabezado1{
    color: rgb(14, 201, 92);
}

.encabezado2{
    color: rgb(248, 16, 16);
}

.encabezado3{
    color: rgb(238, 255, 0);
}