body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #22d3c5;
}

#barra{
    background-color: #22b14c;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#logo img{
    height: 60px;
}

#menu{
    background-color: #555;
    width: 1000px;
    display: flex;
    justify-content: center;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 6px 14px;
}

.menu ul li a:hover{
    background-color: #fdf92a;
    color: black;
}

#contenedor-redes{
    text-align: center;
}

#redes{
    background-color: #fdf92a;
    font-weight: bold;
}

.iconos-redes{
    display: flex;
    gap: 10px;
}

.iconos-redes img{
    width: 28px;
}

#contenido{
    text-align: center;
    margin-top: 40px;
}

#grid-principal{
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.card{
    background: rgb(0, 159, 252);
    padding: 15px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
}

.card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#info-fisio{
    width: 70%;
    margin: 40px auto;
    background: rgb(198, 233, 0);
    padding: 20px;
    border-radius: 8px;
}

.calculadora input{
    margin: 5px;
}

#cuadro-info{
    width: 420px;
    height: 220px;
    background-image: url("../IMAGES/GREENHILL.jpeg");
    background-size: cover;
    border-radius: 8px;
    margin: 40px auto;
    padding: 20px;
    color: white;
}
#zona-inferior{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

#calculadora-simple{
    width: 300px;
    background-color: #b6ab10;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    text-align: center;
}

#calculadora-simple input{
    width: 90%;
    margin: 5px 0;
    padding: 5px;
}
#cuadro-info img{
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
}
#cuadro-info{
    max-height: 260px;          
    overflow: hidden;           
}

#cuadro-info img{
    max-height: 120px;          
    object-fit: contain;
}
#calculadora-simple{
    position: relative;
}

.gif-calculadora{
    width: 140px;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

#pantalla{
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: right;
}

.teclado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
}

.teclado button{
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

.btn-clear{
    grid-column: span 4;
    background-color: #ff4d4d;
    color: white;
}